@import url("https://fonts.googleapis.com/css2?family=Offside&family=Spline+Sans:wght@400;500;600;700&display=swap");

@font-face {
  font-family: "Monaspace Neon";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/npm/@fontsource/monaspace-neon@5.3.0/files/monaspace-neon-latin-400-normal.woff2")
    format("woff2");
}

@font-face {
  font-family: "Monaspace Neon";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("https://cdn.jsdelivr.net/npm/@fontsource/monaspace-neon@5.3.0/files/monaspace-neon-latin-500-normal.woff2")
    format("woff2");
}

@font-face {
  font-family: "Monaspace Neon";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("https://cdn.jsdelivr.net/npm/@fontsource/monaspace-neon@5.3.0/files/monaspace-neon-latin-600-normal.woff2")
    format("woff2");
}

@font-face {
  font-family: "Monaspace Neon";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/npm/@fontsource/monaspace-neon@5.3.0/files/monaspace-neon-latin-700-normal.woff2")
    format("woff2");
}
